<% layout('layouts/boilerplate') -%>

    <style>
        #filters {
            display: flex;
            flex-wrap: wrap;
        }

        .filter {
            opacity: 0.7;
            text-align: center;
            margin-right: 2.2rem;
            margin-bottom: 2rem;
        }

        .filter i {
            font-size: 1.5rem;
        }

        .filter:hover {
            opacity: 1;
            border-bottom: sienna;
        }

        .tax-rate{
            display: none;
        }
        .tax-info{
            border: 1px solid rgb(203, 183, 183);
            height: 3rem;
            padding: 1rem;
            border-radius: 1.5rem;
            display: flex;
            align-items: center;
        }
    </style>

    <body>
        <div id="filters" class="mt-4  ">
            <div class="filter ">
                <div>
                    <i class="fa-solid fa-person-swimming"></i>
                </div>
                <p>Amazing Pools</p>
            </div>

            <div class="filter">
                <div>
                    <i class="fa-solid fa-street-view"></i>
                </div>
                <p>Amazing Views</p>
            </div>

            <div class="filter">
                <div>
                    <i class="fa-solid fa-umbrella-beach"></i>
                </div>
                <p>Beach</p>
            </div>

            <div class="filter">
                <div>
                    <i class="fa-solid fa-tractor"></i>
                </div>
                <p>Farms</p>
            </div>
            <div class="filter">
                <div>
                    <i class="fa-brands fa-bluesky"></i>
                </div>
                <p>Luxe</p>
            </div>

            <div class="filter">
                <div>
                    <i class="fa-solid fa-person-swimming"></i>
                </div>
                <p>Lakefront</p>
            </div>

            <div class="filter">
                <div>
                    <i class="fa-solid fa-cake-candles"></i>
                </div>
                <p>Lake Front</p>
            </div>

            <div class="filter">
                <div>
                    <i class="fa-solid fa-stopwatch-20"></i>
                </div>
                <p>Surfing</p>
            </div>

            <div class="filter">
                <div>
                    <i class="fa-solid fa-cake-candles"></i>
                </div>
                <p>Lake Front</p>
            </div>

            <div class="filter">
                <div>
                    <i class="fa-solid fa-stopwatch-20"></i>
                </div>
                <p>Surfing</p>
            </div>

            <div class="tax-info">
                <div class="form-check-reverse form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
                </div>
            </div>

        </div>
        <div class="row row-cols-lg-3 row-cols-md-2">

            <% for (let listing of allListings) { %>
                <a href="/listings/<%= listing._id %>" class="listing-link">
                    <div class="card col listing-card">
                        <img src="<%= listing.image.url %>" class="card-img-top" style="height: 20rem;"
                            alt="listing image">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= listing.title %>
                                </b> <br>
                                &#8377;<%= listing.price.toLocaleString("en-in") %> / Night   <i class="tax-rate">&nbsp; &nbsp; + 18% GST</i> <br>
                            </p>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
    </body>


<script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault")
        taxSwitch.addEventListener("click", () => {
            let taxRate = document.getElementsByClassName("tax-rate")
                for(tax of taxRate) {
                    if(tax.style.display != "inline"){
                        tax.style.display = "inline"
                    }else{
                        tax.style.display = "none"
                    }
                }
        })
</script>