body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* navbar */
.navbar {
    height: 5rem;
}

.container {
    flex: 1;
}

/* footer  */
.f-info {
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials i {
    font-size: 1.5rem;
    margin-right: 2rem;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

/* Card  */

.listing-card {
    border: none !important;
    margin-bottom: 2rem !important;
}

.card-img-top {
    border-radius: 1rem !important;
}

.card-body {
    padding: 0 !important;
}

.listing-link {
    text-decoration: none;
    color: #222222;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.edit-btn {
    background-color: #fe424d;
    color: wheat;
    border: none;
    border-radius: 5px;
    padding: 6px;
}

/* show page */

.show-img {
    height: 40vh;
}

.show-btn {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.show-btn a {
    margin-right: 2rem;
    text-decoration: none;
}

.show-btn a:hover {
    color: white;
    text-decoration: none;
}

/* Map */
#map {
    height: 400px;
    width: 100vh;
}